<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <a class="back" href="/"> 메인페이지로 </a>
    <div class="menu">
        <form action="/search" method="post">
            <div class="input-group mb-3">
                <input
                    name="search"
                    type="text"
                    class="form-control"
                    placeholder="메뉴 이름"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                />
                <input
                    class="btn btn-outline-primary"
                    type="submit"
                    id="button-addon2"
                    value="검색"
                />
            </div>
        </form>
        <table
            class="table"
            style="
                width: 1200px;
                table-layout: fixed;
                word-break: break-all;
                height: auto;
            "
        >
        <div>
            <% for(var i = 0; i < menu.length; i++) { %>
                <a href="/detail/<%= menu[i].menu_number%>" class="detail">
                    <div class="left">
                        <p><%= menu[i].menu_name %></p>
                    </div>
                    <% if (userId === "9999") { %>}
                    <td>
                        <form action="/menudelete" method="POST">
                            <input type="hidden" name="menu_name" value="<%= menu[i].menu_number %>" />
                            <input type="submit" value="<%= menu[i].menu_number %> 삭제" />
                        </form>
                    </td>
                    <% } %>
                </a>
                <% } %>
        </div>
        <div>
            <% if(userId === "9999") { %>
                <a href="/addmenu">메뉴 추가</a>
                <% } %>
            </div>
    </div>
</body>
</html>